html {
    font-family: 'Courier New', Courier, monospace;
    padding-top: 100px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    margin: 0 auto;
    background-color: #575200;
    color: #262626;
    font-size: 20px;
}

p {
    font-weight: bold;
    text-align: center;
    font-size: 30px;
}

input {
    border-radius: 5px;
    border-top: none;
    border-right: none;
    border-left: none;
}

textarea {
    height: 200px;
    width: 80%;
    border-radius: 5px;
    resize:none;
    
}

/* body */
.nome-imoveis {
    text-align: center;
    font-size: 15px;
}

.title {
    font-size: 50px;
    text-align: center;
    margin-left: 15px;
    padding-top: 60px;
    color: #fff;
}

.img {
    width: 100px;
    margin: auto;
    display: block;
}

.container {
    background-color: #a3852c;
    width: 95%;
    margin: 0 auto;
    position: relative;
    
}
.radio {
    display: inline-block;
    text-align: center;

}

.informacoes-dono {
    margin-top: 50px;
}

.primeira-linha-info-dono,
.segunda-linha-info-dono,
.terceira-linha-info-dono {
    padding-left: 100px;
}

.primeira-linha-info-ap,
.segunda-linha-info-ap,
.terceira-linha-info-ap {
    padding-left: 100px;
}

.primeira-linha-info-dono input,
.segunda-linha-info-dono input,
.terceira-linha-info-dono input {
    width: 400px;
    height: 18px;
}

.primeira-linha-info-ap input,
.segunda-linha-info-ap input,
.terceira-linha-info-ap input {
    width: 400px;
    height: 18px;
}

.tipo-imovel {
    text-align: center;
}

.condicoes-pagamento {
    text-align: center;
}

.descricao-text {
    text-align: center;
}

.imagem-inserir {
    text-align: center;
}

.enviar {
    margin-top: 40px;
    padding: 30px;
    text-align: center;

}

.btn-enviar {
    background-color: #575200;
    width: 200px;
    height: 100px;
    color: #eeecec;
    font-weight: bolder;
}

.btn-enviar:hover {
    background-color: #eeecec;
    color: #575200;
}